@model UltimateLabs.Web.Models.NoticiasAdminViewModel

@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/ThemeAdmin/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<head>
    <link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman|Roboto" rel="stylesheet">
    @Styles.Render("~/Content/CSS/Styles.css")
</head>

<section>
    @using (Html.BeginForm("CrearNoticia", "NoticiaAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        @Html.AntiForgeryToken()

        <div class="col-sm-5 contenedor" style="margin-left:2%;margin-top:5%;background-color:white">

            <fieldset>
                <legend style="font-family:'Roboto',sans-serif">
                    Agregar
                </legend>
                <div class="col-sm-12">
                    @Html.Label("Título", new { @class = "col-sm-12 control-label labelText"})
                    <div class="col-sm-12">
                        @Html.TextAreaFor(x => x.Titulo, new { @class = "form-control", @id = "valor", @required = "true" })
                        @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Descripción Corta", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-sm-12">
                        @Html.TextAreaFor(x => x.DescripcionCorta, new { @class = "form-control", @id = "valor" })
                        @Html.ValidationMessageFor(x => x.DescripcionCorta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Descripción Larga", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-sm-12">
                        @Html.TextAreaFor(x => x.DescripcionLarga, new { @class = "form-control", @id = "valor" })
                        @Html.ValidationMessageFor(x => x.DescripcionLarga, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Autor", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-sm-12">
                        @Html.TextAreaFor(x => x.Autor, new { @class = "form-control", @id = "valor" })
                        @Html.ValidationMessageFor(x => x.Autor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Idioma", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-sm-12">
                        @Html.DropDownListFor(x => x.IdIdioma, new SelectList(ViewBag.Idioma, "Value", "Text"), new { @class = "form-control-dropdown" })
                        @Html.ValidationMessageFor(x => x.IdIdioma, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Imagen", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-md-12">
                        <input type="file" id="Imagen" form-control" name="Imagen" onchange="jQuery(this).next('input').val(this.value);" accept=".xlsx,.xls,image/*,.doc, .docx.,.ppt, .pptx,.txt,.pdf" />
                        @Html.TextBoxFor(x => x.PathPortada, new { @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.PathPortada, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.Label("Publicar", new { @class = "col-sm-12 control-label labelText", @style = "text-align:left;font-family:'Roboto',sans-serif;font-size:18px" })
                    <div class="col-sm-12">
                        @Html.CheckBoxFor(x => x.Publicar, new { @class = "form-control2", @id = "valor" })
                        @Html.ValidationMessageFor(x => x.Publicar, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="pull-right">
                        <button style="margin-bottom:2%;margin-top:10%;background-color:#2e2929;height:100%;width:auto" type="submit" class="btn btn-raised btn-inverse">Guardar<span class="md-ripple"></span></button>
                    </div>


                </div>

            </fieldset>
        </div>
    }

</section>


<script>



    $('#crudModal').on('shown.bs.modal', function () {
        $('#btCloseModal').trigger('focus')
    })

</script>

<style>
    .cajita {
        border: 3px solid #00adef;
    }

    .contenedor {
        width: auto%;
        padding: 0 4%; /*6%*/
        border: 3px solid #02779d;
    }

    .contenedor {
        width: auto%;
        padding: 0 4%; /*6%*/
        border: 3px solid #02779d;
    }

    .contenedor legend {
        color: #666;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        width: 40%; /*30%*/
        margin-right: 0px;
        margin-bottom: 5px;
        font-family: Penelope;
    }

    .contenedor a {
        text-align: left;
        font-size: 16px;
        font-family: Penelope;
        display: block;
    }

    .contenedor legend {
        color: #666;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        width: 40%; /*30%*/
        margin-right: 0px;
        margin-bottom: 5px;
        font-family: Penelope;
    }

    .contenedor a {
        text-align: left;
        font-size: 16px;
        font-family: Penelope;
        display: block;
    }
    .form-control2 {
        display: block;
        width: 10%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    }
</style>
