@model UltimateLabs.Web.Models.IdiomasAdminViewModel

@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/ThemeAdmin/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<head>
    <link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman|Roboto" rel="stylesheet">
    @Styles.Render("~/Content/CSS/Styles.css")
</head>

<section>
    @using (Html.BeginForm("CrearIdioma", "IdiomaAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-5 contenedor row" style="margin-left:2%;margin-top:5%;background-color:white">
            <fieldset class="padding-top-bottom">
                <legend style="font-family:'Roboto',sans-serif">
                    Agregar
                </legend>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Label("Idioma", new { @class = "col-sm-12 control-label labelText" })
                        <div class="col-sm-12">
                            @Html.TextAreaFor(x => x.Idioma, new { @class = "form-control m-bottom-5", @id = "valor" })
                            @Html.ValidationMessageFor(x => x.Idioma, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        @Html.Label("Abreviatura", new { @class = "col-sm-12 control-label labelText m-top-5" })
                        <div class="col-sm-12">
                            @Html.TextAreaFor(x => x.Abreviatura, new { @class = "form-control", @id = "valor" })
                            @Html.ValidationMessageFor(x => x.Abreviatura, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="pull-right">
                        <button style="margin-bottom:2%;margin-top:10%;background-color:#2e2929;width:auto;font-family:'Roboto',sans-serif" type="submit" class="btn btn-raised btn-inverse">Guardar<span class="md-ripple"></span></button>
                    </div>


                </div>
            </fieldset>

        </div>
    }

</section>


<script>
    $('#crudModal').on('shown.bs.modal', function () {
        $('#btCloseModal').trigger('focus')
    })

</script>

